# Misc
.DS_Store

# Gradle
.gradle
build

# Project files
*.iml
.idea
nodes.json*
.classpath
.key
.nodes.json
.nodes.json.bak
.project
.settings
bin
.gradle/
.idea/
*.log
build/
out/
/src/main/java/unused
